<div class="hex-wrap">
  <svg
    #svg
    [attr.viewBox]="'0 0 ' + size + ' ' + size"
    class="hex-svg"
    (mousemove)="onMove($event)"
    (mouseup)="endDrag()"
    (mouseleave)="endDrag()"
    (touchmove)="onMove($event)"
    (touchend)="endDrag()"
  >
    <!-- rings -->
    <path *ngFor="let r of rings" [attr.d]="ringPath(r)" class="ring" />
    <!-- spokes -->
    <line *ngFor="let a of axes; let i = index" [attr.x1]="spoke(i).x1" [attr.y1]="spoke(i).y1"
      [attr.x2]="spoke(i).x2" [attr.y2]="spoke(i).y2" class="spoke" />
    <!-- shape -->
    <path [attr.d]="shapePath" class="shape" />
    <!-- handles -->
    <circle *ngFor="let a of axes; let i = index" [attr.cx]="vertex(i).x" [attr.cy]="vertex(i).y"
      r="9" class="handle" (mousedown)="startDrag(i, $event)" (touchstart)="startDrag(i, $event)" />
    <!-- labels -->
    <g *ngFor="let a of axes; let i = index">
      <text [attr.x]="labelPos(i).x" [attr.y]="labelPos(i).y" class="axis-label"
        [attr.text-anchor]="labelPos(i).x < cx - 10 ? 'end' : labelPos(i).x > cx + 10 ? 'start' : 'middle'">
        {{ a.label }}
      </text>
      <text [attr.x]="labelPos(i).x" [attr.y]="labelPos(i).y + 14" class="axis-val"
        [attr.text-anchor]="labelPos(i).x < cx - 10 ? 'end' : labelPos(i).x > cx + 10 ? 'start' : 'middle'">
        {{ valOf(a.key) }}
      </text>
    </g>
  </svg>

  <!-- fallback sliders (mobile / a11y) -->
  <div class="hex-sliders" *ngIf="showSliders">
    <div class="hx" *ngFor="let a of axes">
      <label>{{ a.label }} <small>{{ a.hint }}</small></label>
      <input type="range" min="0" max="100" [value]="valOf(a.key)"
        (input)="setValue(a.key, $any($event.target).value)" />
    </div>
  </div>
</div>
